@import url('https://fonts.googleapis.com/css?family=Cute+Font|Schoolbell');

body {
    background-color: #fbe9e7;
}

textarea {
    width: 100%;
    height: 30vh;
    font-size: 36px;
    padding: 10px;
    text-align: center;

    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;

    background: none;

    font-family: 'Schoolbell', cursive;
}

#imgarea img {
    width: 500px;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-family: 'Cute Font', cursive;
    font-size: 48px;
}

input[type=button] {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;

    background: none;

    width: 150px;
    height: 75px;

    font-family: 'Cute Font', cursive;
    font-size: 48px;
}